<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="from" value="veer.patil@ash-software.com" />
    <add key="to" value="veer.patil@ash-software.com" />
    <add key="emailHost" value="ashsoftware-com0i.mail.protection.outlook.com"/>
    <add key="portNo" value="25"/>
    <add key="msg1" value="Hi All," />
    <add key="msg2" value="Please find Villa Plus Website Status Report for Desktop,Tablet and Mobile Platform" />
    <add key="subject" value="Website Status Report" />
  <add key="weburl" value="https://web1.villaplus.com,https://https://web2.villaplus.com,https://t1.villaplus.com,https://t2.villaplus.com,https://m1.villaplus.com,https://m2.villaplus.com,https://www.villaplus.com,https://t.villaplus.com,https://m.villaplus.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />  
  </appSettings>
 
</configuration>