<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="from" value="veer.patil@ash-software.com" />
    <add key="to" value="veer.patil@ash-software.com,Nikhil@ash-software.com" />
    <add key="emailHost" value="ashsoftware-com0i.mail.protection.outlook.com"/>
    <add key="portNo" value="25"/>
    <add key="msg1" value="Hi All," />
    <add key="msg2" value="Please find Villa Plus Website Status Report for Desktop,Tablet and Mobile Platform" />
    <add key="subject" value="Website Status Report" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="connectionstring" value="Data Source=LONO; Database=VP_WEB_Nimbus; User Id=sa;Password=ash@vp8;"/> -->
    <add key="ConnectionStringPath" value="E:\Veer-2016\MYLandingpage\"/>
  </appSettings>
 
</configuration>